*{
    margin: 0%;
    background-color: ghostwhite;
}
.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.green{
    height: 1100px;
    width: 30%;
    background-color: green;
}
.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gren{
    height: 50px;
    width: 30%;
    background-color: green;
}
.img {
    display: flex;
    justify-content: center;
    background-color: green;
}
